
body{
    $baclColor: rgb(80, 192, 80);

    background-color: $baclColor;
}

div.main{

    $margin-width: 10px;

    div{
        text-align: center;
        display: inline-block;

        margin-left: $margin-width;
        margin-right: $margin-width;

        width: calc(10% - 20px);
        background-color: black;

    }

}


